mixin sSpeedElevator()
	// start sSpeedElevator
	+b.SECTION.sSpeedElevator.section#sSpeedElevator&attributes(attributes)
		+e.head
			.container
				+b.section-title
					h2 Скоростной лифт к успеху
				p Текущая мировая ситуация, как и&nbsp;любой кризис, уникальна. В&nbsp;ближайшее время в&nbsp;финансовом мире появятся тысячи инвестиционных идей, каждая из&nbsp;которых способна принести целое состояние.

				p Чтобы Вы&nbsp;смогли в&nbsp;полной мере использовать открывшиеся возможности, мы&nbsp;подготовили для Вас нечто особенное.
				.row
					mixin item(p)
						+e.col.col-lg-3.col-sm-6
							+e.item!= p
					+item(`Разработали практическую программу&nbsp;обучения c&nbsp;тремя прибыльными инвестиционными стратегиями`)
					+item(`Добавили <br> наработки&nbsp;из собственного&nbsp;опыта к&nbsp;классическому инвестиционному подходу, чтобы получить защиту Вашим инвестициям`)
					+item(`Проработали нюансы&nbsp;каждого практического шага, чтобы&nbsp;Вы смогли сразу адаптировать знания для себя и&nbsp;незамедлительно перейти к&nbsp;практике инвестиций`)
					+item(`Адаптировали  все&nbsp;это&nbsp;к&nbsp;текущей экономической&nbsp;ситуации, чтобы успеть воспользоваться кризисом и&nbsp;собрать итоговый портфель по&nbsp;низким ценам`)
		.container
			+e.block
				p В&nbsp;итоге получилось инвестиционное обучение, потенциальную мощность которого можно сравнить со&nbsp;сжатой стальной пружиной, готовой вытолкнуть Ваш капитал на&nbsp;следующий порядок
				+e.title-block Кризис&nbsp;&mdash; время перемен и&nbsp;возможностей!
			+b.group-block
				+e.item--right Вам не удастся устоять на одном месте. К концу кризиса Ваше финансовое благополучие изменится сразу на несколько ступеней. В какую сторону? Вверх или вниз?
				+e.item--left Наш скоростной лифт едет наверх, двери открыты.<br> Заходите
			+e.btn(href="#") Кликните здесь, чтобы оформить участие в&nbsp;тренинге
	// end sSpeedElevator