mixin sSpeedElevator()
	// start sSpeedElevator
	+b.SECTION.sSpeedElevator.section#sSpeedElevator&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSpeedElevator
				
			.row
	// end sSpeedElevator