mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title
				h2 Как стать участником тренинга Инфо-ДВД и Романа Романовича «Умные инвестиции три-в-одном»
			+e.steps-container
				+e.step Заполните форму заявки на&nbsp;участие и&nbsp;нажмите кнопку &laquo;Продолжить&raquo;
				+e.step Вам откроется страница с&nbsp;тарифами и&nbsp;доступными сейчас скидками
				+e.step Если необходимо, Вас проконсультирует менеджер Инфо-ДВД по&nbsp;указанному Вами номеру телефона
				+e.step Выберите тариф участия, оплатите его стоимость
				+e.step Уже через одну минуту после оплаты Вам откроется доступ в&nbsp;закрытый раздел группы тренинга с&nbsp;обучающими материалами
			+form-cont()
	// end sForm