mixin sReasons()
	// start sReasons
	+b.SECTION.sReasons#sReasons&attributes(attributes)
		.container
			+b.profile-row.row
				+e.profile-txt-col.col-lg-6
					+e.H2.profile-headline Почему абсолютно каждый человек должен практиковать инвестиции?
					p Инвестиции&nbsp;&mdash; это один из&nbsp;разделов финансовой грамотности. Недаром в&nbsp;странах с&nbsp;высоким уровнем финансовой грамотности населения даже студенты и&nbsp;домохозяйки занимаются инвестициями.
					p Совершенно неважно, чем&nbsp;Вы занимаетесь и&nbsp;какие у&nbsp;Вас основные источники дохода. Трейдинг, бизнес, работа по&nbsp;найму и&nbsp;т.д. &mdash;&nbsp;все это про заработок денег.
					p Инвестиции&nbsp;&mdash; это про накопление денег, про их&nbsp;сохранение и&nbsp;умножение.
				+e.photo-col.col-lg-6
					+e.photo
						img.lazy(src="#" data-src="img/@2x/nuance-img.jpg" alt="")
			+e.H4.headline Четыре базовых правила финансовой грамотности, которые помогут Вам ежегодно увеличивать свои доходы:
			+e.reasons-row.row
				+reasonsItem(1,'Сберегайте 10-20% от своих доходов.','Откладывайте эти деньги в первую очередь, переводите их сразу брокеру, чтобы не было соблазна потратить')
				+reasonsItem(2,'Заставьте Ваши деньги работать.','Деньги не должны просто лежать, они должны приносить новые деньги, причем без Вашего участия, самостоятельно.')
				+reasonsItem(3,'Контролируйте риски','В первую очередь Ваша задача – сохранить накопления, величина прибыли всегда во вторую очередь')
				+reasonsItem(4,'Помните о магии','Если Вы выполняете первые три правила, то магия сложного процента со временем сделает свое дело и обязательно превратит Ваши скромные накопления в солидный капитал с пассивным доходом, достаточным для безбедной жизни. Достаточно просто помнить об этом, чтобы не сойти с пути.')
	// end sReasons

mixin reasonsItem(imgNum, colHeadline='colHeadline', colPar='colPar')
	+e.reasons-col.col-md-6
		+e.col-contnetnt
			+e.col-bg-img
				img.lazy(src="#" data-src=`img/sReasons-${imgNum}.svg` alt="")
			+e.col-headline=colHeadline
			+e.col-txt=colPar