
	// start .sNow
	.sNow {
		 background: #F4F5FD;
		 h2{
			 max-width: rem(800);
		 }
		 img{
			 margin-bottom: rem(30);
		 }
		 .h6{
			 font-weight: normal;
			 margin-bottom: rem(70);
			 line-height: (30 / 20);
		 }
		  &__btn {
		  	@extend .btn-cyan-frame;
		  	max-width: rem(314);
		  	margin-left: auto;
		  	margin-right: auto;
		  }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sNow