mixin sNow()
	// start sNow
	+b.SECTION.sNow.section#sNow&attributes(attributes)
		.container
			+b.section-title
				h2 Почему прямо сейчас&nbsp;&mdash; лучшее время, чтобы перейти к&nbsp;инвестициям?
				+e.text Вот Вам три причины, чтобы начать действовать уже сегодня:
				
			.row
				mixin item(i, t)
					.col-lg-4.col-sm-6
						+e.img-wrap
							img.lazy(src="#" data-src=`img/icon-${i}.svg`, alt="")
						block
				+item('1')
					.h6 #[strong Мировой экономический кризис.] Уникальнейшая возможность для инвесторов приобрести активы по сниженным ценам.
				+item('2')
					.h6  #[strong Глобальные перемены в&nbsp;мировом порядке.] Прямо сейчас зарождаются целые отрасли, которые станут гигантскими индустриями в&nbsp;ближайшие 5-10&nbsp;лет. Сегодня их&nbsp;акции можно приобрести по&nbsp;минимальным ценам
				+item('3')
					.h6 #[strong Важно время старта.] Чтобы вырастить солидный капитал, время старта имеет более важное значение, чем суммы вложений и&nbsp;получаемый процент прибыли. Чем раньше&nbsp;Вы начнете создавать капитал, тем быстрее добьетесь своей цели.
			+e.btn.scroll-link(href="#s-form") Начать инвестировать прямо сейчас!
	// end sNow
