mixin sFormula()
	// start sFormula
	+b.SECTION.sFormula.section#sFormula&attributes(attributes)
		.container
			+b.section-title
				h2 Формула однозначного успеха в&nbsp;инвестициях
				
			.row
				mixin item(i,t,p)
					+e.col.col-lg-4.col-sm-6
						+e.item
							+e.img-wrap
								img(src=`img/formula-${i}.svg`, alt="")
							+e.title!= t
							p!= p
				+item(`1`,`Защита накоплений`,`На&nbsp;первом месте. Ваши деньги в&nbsp;первую очередь должны быть защищены. Вы&nbsp;эти деньги заработали, и&nbsp;Вы не&nbsp;имеете права их&nbsp;потерять`)
				+item(`2`,`Рост <br> капитала`,`Сумма Ваших накоплений (стоимость активов в&nbsp;Вашем портфеле) должна расти и&nbsp;умножаться со&nbsp;временем`)
				+item(`3`,`Пассивный доход`,`Основная итоговая цель Ваших инвестиций&nbsp;&mdash; получение регулярного дохода на&nbsp;полном автомате`)
			+b.group-block
				+e.item--right Добавьте к&nbsp;этому целый ряд уникальных инвестиционных возможностей, которые открываются на&nbsp;фоне мирового экономического кризиса, и&nbsp;Вы получите ошеломительный результат:
				+e.item--left Реальная возможность перейти на&nbsp;целый класс&nbsp;выше по&nbsp;лестнице финансового благополучия.
			+e.foot Получите прямой путеводитель с&nbsp;опытным гидом-инвестором в&nbsp;придачу!

	// end sFormula