mixin sSmaertInvest()
	// start sSmaertInvest
	+b.SECTION.sSmaertInvest.section#sSmaertInvest&attributes(attributes)
		.container
			+b.section-title.text-center
				+e.text Приглашаем Вас принять участие в&nbsp;новой разработке Издательства Инфо-ДВД и&nbsp;Романа Романовича:
				
			+e.content
				h2 Умные инвестиции три-в-одном
				.h5 Защита накоплений, рост капитала и&nbsp;пассивный доход
				ul
					li 3&nbsp;актуальных инвестиционных стратегии для роста Вашего капитала.
					li Пассивный доход, растущий на&nbsp;автомате.
					li Ваши деньги в&nbsp;безопасности.
					li Фундаментальная основа, которая будет работать на&nbsp;Вас всегда.
					li Минимум Вашего времени, можно совмещать с&nbsp;абсолютно любой деятельностью.
					li Используйте уникальные возможности мирового кризиса на&nbsp;полную!
				+e.btn(href="#") Займите свое место в тренинге
	// end sSmaertInvest