mixin sLifeAfter()
	// start sLifeAfter
	+b.SECTION.sLifeAfter#sLifeAfter&attributes(attributes)
		+e.section-bg
			img.lazy(src='#' data-src="img/@2x/life-after-bg.jpg" alt="")
		.container
			+b.section-title
				h2 Мастер-группа. Есть ли жизнь после тренинга?
			+e.section-txt
				p Занятия тренинга, несмотря на&nbsp;всю свою практическую направленность&nbsp;&mdash; всего лишь теоретическое обучение.
				p Начав практику, Вы&nbsp;столкнетесь с&nbsp;неожиданными трудностями, вопросами. Вам нужна будет поддержка.
				p Для этого существует мастер-группа Романа Романовича, онлайн-занятия которой проходят один раз в&nbsp;2&nbsp;недели в&nbsp;круглогодичном режиме.
				p
					b Вы&nbsp;можете продлевать Ваше участие в&nbsp;мастер-группе бесплатно сколь угодно долго.
					|
					| Подробнее об&nbsp;этом&nbsp;Вы узнаете после заполнения заявки на&nbsp;участие.
	// end sLifeAfter