mixin sMaster()
	// start sMaster
	+b.SECTION.sMaster#sMaster&attributes(attributes)
		+e.section-bg
			img.lazy(src='#' data-src="img/@2x/sMaster-bg.jpg" alt="")
		.container
			.row
				.col-md-7.col-lg-5
					+b.section-title
						h2 Кто будет Вашим наставником?
					+e.top-description
						p Знакомьтесь&nbsp;&mdash; Роман Романович, успешный управляющий активами, профессиональный инвестор с&nbsp;большим опытом преподавания!
						p Роман Романович&nbsp;&mdash; заслуженный автор Инфо-ДВД. Его тренинги всегда получают наивысшие оценки от&nbsp;учеников.
					+e.H4.blue-txt Роман Романович&nbsp;&mdash; сертифицированный специалист в&nbsp;области финансовых рынков
			+e.row.row
				.grad-col.col-12.col-lg-4
					p Консультант-методист Министерства финансов Российской Федерации
				.grad-col.col-12.col-lg-4
					p Обладает двумя аттестатами Федеральной службы по&nbsp;финансовым рынкам Российской Федерации (1.0&nbsp;&mdash; брокерская и&nbsp;дилерская деятельность и&nbsp;управление ценными бумагами, 5.0&nbsp;&mdash; управление инвестиционными фондами, паевыми инвестиционными фондами и&nbsp;негосударственными пенсионными фондами
				.grad-col.col-12.col-lg-4
					p Владеет сертификатом независимого финансового советника от&nbsp;Института финансового планирования (Москва)
			+e.certificats-row.row
				+certificatItem(1)
				+certificatItem(1)
				+certificatItem(2)
				+certificatItem(3)
			+b.profile-row.row
				+e.profile-txt-col.col-lg-7
					+e.profile-headline Роман Романович имеет опыт управления активами во&nbsp;время кризиса
					p В&nbsp;2014 году Роман управлял клиентским портфелем российских облигаций, цены на&nbsp;которые рухнули из-за первых западных санкций. Убытки удалось свести к&nbsp;нулю, просадки по&nbsp;портфелю не&nbsp;было совсем и&nbsp;деньги клиентов продолжили свой рост.
					p В&nbsp;2020 году клиентские портфели Романа во&nbsp;время падения рынков, благодаря хорошей балансировке, показали максимальную просадку всего &minus;4.2% и&nbsp;восстановили прибыльность уже через три недели после падения
				+e.photo-col.col-lg-5
					+e.photo
						img.lazy(src="#" data-src="img/@2x/master-foto-1.jpg" alt="")
			+b.profile-row.row.reverse-profile-row
				+e.photo-col.col-lg-5
					+e.photo
						img.lazy(src="#" data-src="img/@2x/master-foto-2.jpg" alt="")
				+e.profile-txt-col.col-lg-7
					+e.profile-headline Роман Романович&nbsp;&mdash; талантливый преподаватель
					p Далеко не&nbsp;каждый, кто умеет торговать на&nbsp;рынке, способен передать свои знания другим. Но&nbsp;к&nbsp;Роману это не&nbsp;относится. Самые сложные вещи он&nbsp;объясняет просто, интересно и&nbsp;доходчиво. Недаром он&nbsp;частый гость на&nbsp;телевидении, выступает на&nbsp;различных конференциях и&nbsp;дает комментарии для деловых изданий.
					p За&nbsp;плечами у&nbsp;Романа&nbsp;&mdash; почти десятилетний опыт обучения и&nbsp;консультирования, а&nbsp;также три года преподавательской деятельности в&nbsp;Высшей школе бизнеса Томского государственного университета, где он&nbsp;преподавал дисциплину &laquo;Оценка ценных бумаг и&nbsp;фондовые рынки&raquo;.
			+e.preslider-txt
				p Лучше всего о&nbsp;педагогическом таланте Романа расскажут его ученики.
				+e.preslider-headline Отзывы учеников, прошедших тренинги Романа Романовича в&nbsp;Инфо-ДВД:
			+b.master-slider
				.master-slider-prev.d-none.d-md-flex
					+icon('chevron-left')
				.master-slider-next.d-none.d-md-flex
					+icon('chevron-right')
				.swiper-container.students-slider-js
					.swiper-wrapper
						- for (let i=1; i < 17; i++){
							.swiper-slide
								img.swiper-lazy(src="#" data-src=`img/@2x/master-slide-${i}.png` alt="")
						- }
				.master-sl-pugin
	// end sMaster


mixin certificatItem(imgNum)
	+e.certificat-col.col-6.col-sm-6.col-lg-3
		+e.A.certificat-img(href=`img/@2x/cert-big-${imgNum}.png` data-fancybox="ceftificatsGroup")
			img.lazy(src="#" data-src=`img/@2x/cert-${imgNum}.jpg` alt="")