extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

include ../blocks/sTrainingProgramm/_sTrainingProgramm.pug
include ../blocks/sNuance/_sNuance.pug
include ../blocks/sLifeAfter/_sLifeAfter.pug
include ../blocks/sGreenLvl/_sGreenLvl.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sSuccess/_sSuccess.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()

		+top-nav()
		+topLine()
	+headerBlock()
	+sContact()
	+sTrainingProgramm()
	+sNuance()
	+sForm()
	+sLifeAfter()
	+sGreenLvl()
	+sFAQ()
	+sSuccess()
	+footer()
	