extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

	//lucky
include ../blocks/sMaster/_sMaster.pug
include ../blocks/sTrainingProgramm/_sTrainingProgramm.pug
include ../blocks/sNuance/_sNuance.pug
include ../blocks/sLifeAfter/_sLifeAfter.pug
include ../blocks/sGreenLvl/_sGreenLvl.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sSuccess/_sSuccess.pug

	//
include ../blocks/sFormula/_sFormula.pug
include ../blocks/sSmaertInvest/_sSmaertInvest.pug
include ../blocks/sSpeedElevator/_sSpeedElevator.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sPluses/_sPluses.pug
include ../blocks/sComfortStart/_sComfortStart.pug
include ../blocks/sHave/_sHave.pug
include ../blocks/sTariffs/_sTariffs.pug
include ../blocks/sRecommended/_sRecommended.pug
include ../blocks/sSuper/_sSuper.pug
include ../blocks/sQuestions/_sQuestions.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Умные  инвестиции  три-в-одном'
	title= title
block pagecontent 
	+mob-mnu()
	header.header
		//- +headerBlock()
		+sTariffs
			+top-nav()
	+sRecommended
	+sSuper
	+sQuestions
	+footer()
	