mixin sTrainingProgramm()
	// start sTrainingProgramm
	+b.SECTION.sTrainingProgramm.section#sTrainingProgramm&attributes(attributes)
		+e.section-bg
			img.lazy(src='#' data-src='img/3in1-bg.svg' alt="")
		.container
			+b.section-title
				h2 Программа тренинга «Умные инвестиции три-в-одном»
			+e.blocks-box
				+block3in1('Блок 1. Подготовка к международным инвестициям')
					+e.step
						+e.step-container
							+e.step-header
								span
									| Шаг 1.
									|
								span Основы работы российского и американского фондового рынка
							+e.step-title Вводные материалы для начинающих инвесторов. Первое знакомство с фондовыми рынками.
							+e.step-format
								b
									| Формат:
									|
								span видеоуроки.
							+e.UL.step-list
								li
									b История фондового рынка США.
									span Когда появился фондовый рынок США, как он развивался и как стал крупнейшим в мире? Сколько бумаг торгуются на фондовом рынке США и на каких биржах они торгуются?
								li
									b История фондового рынка России.
									span Начало 2000-х – рассвет рынка в России после запуска Интернет-трейдинга. Российские биржи и отличия между ними.
								li
									b Санкт-Петербургская биржа.
									span Как на Санкт-Петербургской бирже торговать американскими бумагами с ликвидностью американских площадок?
								li
									b Текущее состояние рынков.
									span Статистика по объемам торгов на разных биржах мира – в США 55% мирового оборота, Россия – менее 2%.
								li
									b Особенности работы бирж в России и США.
									span Время торгов, особенности ликвидности.
					+e.step
						+e.step-container
							+e.step-header
								span
									| Шаг 2.
									|
								span Выбор брокера для работы
							+e.step-title На этом шаге Вы познакомитесь с брокерами для работы, сможете подобрать лучшего брокера под Ваши условия и откроете у него счет.
							+e.step-format
								b
									| Формат:
									|
								span видеоуроки + pdf-исследование + pdf-инструкция
							+e.UL.step-list.last-child-inline
								li
									b Российские брокеры.
									span Обзор российских брокеров с доступом к американским акциям напрямую или через Санкт-Петербургскую биржу.
								li
									b Ценный подарок.
									span Аналитическое исследование Романа Романовича в PDF по стоимости услуг российских брокеров для разных стилей торговли.
								li
									b Американские брокеры.
									span Кто из американских брокеров работает с русскими инвесторами? Как открыть счет у американского брокера? Чем отличаются российские брокеры от американских по комиссиям?
								li
									b
										| PDF-инструкция
										|
									span по открытию счета у одного из крупнейших мировых брокеров
					+e.step
						+e.step-container
							+e.step-header
								span
									| Шаг 3.
									|
								span Как оценить состояние экономики?
							+e.step-title На этом шаге Вы научитесь проводить оценку текущего состояния мировой экономики. Это поможет Вам впоследствии делать более точные прогнозы по Вашему инвестиционному портфелю и понимать, на какие активы делать упор при балансировке
							+e.step-format
								b
									| Формат:
									|
								span видеоуроки.
							+e.UL.step-list
								li
									b Аналитические исследования.
									span Что читать для мониторинга за экономикой? Обзор ресурсов Wall Street Journal, BARRON’S. Как читать бесплатно платные издания? Исследования аудиторских и консалтинговых фирм.
								li
									b Экономическая статистика.
									span Что из экономической статистики наиболее важно для рынка? Как интерпретировать данные? На что влияют индексы и индикаторы: PMI, безработица, продажи домов, потребительская активность и т.д.
								li
									b Статистический календарь.
									span На каких ресурсах следить за выходом экономической статистики? Как настроить уведомления в смартфон или почту?
				+block3in1('Блок 2. Стратегии последовательного создания капитала', '')
					+e.step
						+e.step-container
							+e.step-header
								span
									| Тема 1.
									|
								span Фундаментальный анализ.
							+e.step-title
								p Вы&nbsp;научитесь анализировать самое главное&nbsp;&mdash; финансы компании. Каждая компания на&nbsp;фондовом рынке прозрачна и&nbsp;регулярно публикует отчеты о&nbsp;своей финансовой деятельности. Вы&nbsp;сможете однозначно оценивать состояние бизнеса и&nbsp;его результаты.
								p Причем, на&nbsp;прикладном уровне. Это значит, что мы&nbsp;не&nbsp;будем погружаться глубоко в&nbsp;теоретические дебри фундаментального анализа. Вы&nbsp;получите четкое представление&nbsp;&mdash; куда смотреть, на&nbsp;что конкретно обращать внимание и&nbsp;какой из&nbsp;этого делать вывод для инвестирования.
							+e.step-format
								b
									| Формат:
									|
								span онлайн-занятие + методические материалы.
							+e.UL.step-list
								li
									b Финансовая отчетность компании.
									span Где смотреть финансовую отчетность компании? Как работать с&nbsp;сайтом компании и&nbsp;сайтом Комиссии по&nbsp;ценным бумагам и&nbsp;биржам США? На&nbsp;что основное обращать внимание при чтении отчетности, чтобы не&nbsp;разбирать весь отчет компании полностью?
								li
									b Анализ мультипликаторов.
									span Разбор мультипликаторов: P/E, P/S, EPS, EV/EDITDA, Debt/Equity, Quick Ratio, Margin и&nbsp;других. Где смотреть эти мультипликаторы, как работать с&nbsp;каждым из&nbsp;них, как интерпретировать полученную информацию.
								li
									b Ресурсы для анализа.
									span Разбор ресурсов: Finviz.com, Macrotrends.net, Blackterminal.com, Seekingalpha.com и других.
					+e.step
						+e.step-container
							+e.step-header
								span
									| Тема 2.
									|
								span Поиск недооцененных акций.
							+e.step-title
								p Первая стратегия, которую&nbsp;Вы научитесь реализовывать для своего портфеля&nbsp;&mdash; находить и&nbsp;покупать недооцененные акции, у&nbsp;которых есть все фундаментальные основания хорошо вырасти в&nbsp;следующие несколько лет. Эти акции&nbsp;&mdash; основа долгосрочного роста Вашего портфеля. Это Ваш будущий капитал.
								p Во&nbsp;время кризиса в&nbsp;категорию недооцененных имеют шансы попасть многие компании фондового рынка. Их&nbsp;необходимо будет регулярно отслеживать, выбирать из&nbsp;них самые перспективные для будущего роста и&nbsp;докупать в&nbsp;свой портфель.
							+e.step-format
								b
									| Формат:
									|
								span онлайн-занятие + методические материалы.
							+e.UL.step-list.last-child-inline
								li
									b Расчет справедливой стоимости акции.
									span Как из баланса определить справедливую стоимость компании?
								li
									b Как находить недооцененные акции?
									span Какие мультипликаторы говорят о недооценке акций?
								li
									b Как настроить скринеры для поиска недооцененных акций?
								li
									b Разбор примеров.
					+e.step
						+e.step-container
							+e.step-header
								span
									| Тема 3.
									|
								span Пенни стоки – доходная часть портфеля.
							+e.step-title
								p Вторая стратегия призвана обеспечить Ваш портфель доходностью в&nbsp;более краткосрочной перспективе. Акции стоимостью до&nbsp;10$ способны делать быстрые и&nbsp;сильные движения, на&nbsp;них можно получать доходность свыше 100% на&nbsp;вложенные деньги.
								p В&nbsp;момент выхода из&nbsp;кризиса такие акции начнут очень быстрый рост своей стоимости. К&nbsp;этому моменту&nbsp;Вы должны быть готовы отслеживать среди них самые перспективные и&nbsp;выделить на&nbsp;их&nbsp;покупку часть своего портфеля.
							+e.step-format
								b
									| Формат:
									|
								span онлайн-занятие + методические материалы.
							+e.UL.step-list
								li
									b Суть торговли с пенни сток.
									span Почему они способны быстро и сильно расти?
								li
									b Как находить акции стоимостью менее десяти долларов с потенциалом к сильному росту?
									span Как находить недооцененные акции среди пенни стоков?
								li
									b Как настроить скринеры для работы по этой стратегии?
					+e.step
						+e.step-container
							+e.step-header
								span
									| Тема 4.
									|
								span Дивидендная стратегия.
							+e.step-title
								p Третья стратегия обеспечит Вас регулярным пассивным доходом с&nbsp;одновременным ростом Вашего капитала. Наличие дивидендов&nbsp;&mdash; главное, что отличает инвестиции от&nbsp;спекуляций.
								p Эта стратегия позволит Вам воспользоваться кризисной ситуации и&nbsp;составить дивидендную часть портфеля из&nbsp;упавших в&nbsp;стоимости акций. Главное здесь&nbsp;&mdash; правильно выбрать компании, которые сохранят свои дивиденды в&nbsp;последующие десятилетия, а&nbsp;также правильно выбрать точку входа, чтобы одновременно получить и&nbsp;стоимостный рост Вашего капитала.
							+e.step-format
								b
									| Формат:
									|
								span онлайн-занятие + методические материалы.
							+e.UL.step-list
								li
									b Пассивный доход с ростом капитала.
									span Разбор дивидендной стратегии.
									span Примеры роста капитала с дивидендами и без.
								li
									b Как отличить «здоровые» дивиденды от «больных» дивидендов?
									span Разбираемся, откуда компания берет деньги на выплату дивидендов.
									span Как определить, что у компании есть деньги на выплату дивидендов?
									span Анализ денежного потока компании и дивидендной истории.
								li
									b Как искать дивидендные акции?
								li
									b Как купить дивидендные акции на дне?
					+e.step
						+e.step-container
							+e.step-header
								span
									| Тема 5.
									|
								span Накопление капитала. Принцип усреднения.
							+e.step-title
								p Эта тема для тех, кто будет продолжать накопление своего инвестиционного капитала. Если Вы&nbsp;планируете регулярно откладывать для инвестиций часть Вашего основного дохода, то&nbsp;это занятие будет очень важным для Вас.
								p Вы&nbsp;узнаете, как правильно распределять регулярные дополнительные инвестиции, грамотно докупая в&nbsp;портфель акции уже открытых Вами позиций. Стратегии усреднения позволяют Вам получить лучшие цены за&nbsp;счет докупок акций при падении.
							+e.step-format
								b
									| Формат:
									|
								span онлайн-занятие + методические материалы.
							+e.UL.step-list
								li
									b Два разных подхода к усреднению позиций.
									span Усреднение по количеству и усреднение по сумме.
									span В чем разница и в какие периоды рынка полезен каждый из подходов?
								li
									b Усреднение в деньгах, стоимостной подход.
									span Принципы работы на практике.
								li
									b Разбор примеров.
					+e.step
						+e.step-container
							+e.step-header
								span
									| Тема 6.
									|
								span Составление защищенного инвестиционного портфеля.
							+e.step-title
								p Финальная тема тренинга. К&nbsp;этому шагу у&nbsp;Вас уже есть стратегии для краткосрочного и&nbsp;долгосрочного роста Вашего капитала, а&nbsp;также для получения регулярного дивидендного дохода. С&nbsp;их&nbsp;помощью&nbsp;Вы можете составить портфель, который обеспечит рост Вашего капитала с&nbsp;эффектом сложных процентов.
								p Теперь Вам обязательно необходимо позаботиться о&nbsp;безопасности Ваших денег. В&nbsp;моменты падения рынков Ваш портфель может упасть в&nbsp;цене на&nbsp;десятки процентов, а&nbsp;дальнейшее восстановление стоимости может занять годы. Чтобы этого не&nbsp;произошло, необходимо правильно сбалансировать портфель. Грамотная балансировка сократит просадку портфеля в&nbsp;моменты падения до&nbsp;нескольких процентов, которые&nbsp;Вы потом легко восстановите при первых&nbsp;же признаках роста.
							+e.step-format
								b
									| Формат:
									|
								span онлайн-занятие + методические материалы.
							+e.UL.step-list
								li
									b Введение в портфельную теорию.
									span Принципы формирования портфеля.
									span Почему важна диверсификация и как ее правильно проводить?
								li
									b Чем можно сбалансировать портфель?
									span Золото, облигации, проверка корреляции активов, оценка зависимости между разными бумагами
								li
									b Ресурсы для анализа и тестирования портфелей
									span Подробный разбор сервиса Portfoliovisualizer.com
								li
									b Сборка портфеля в прямом эфире.
									span На основе полученных в обучении навыков мы соберем инвестиционный портфель в прямом эфире и протестируем его результаты.
	// end sTrainingProgramm

mixin block3in1(headlineTxt, displayClass='active')
	+e.block
		+e.block-header.block-header-js(class=displayClass)
			+e.headline=headlineTxt
			+e.open-btn
		+e.block-content.block-content-js(class=displayClass)
			block
