mixin sTrainingProgramm()
	// start sTrainingProgramm
	+b.SECTION.sTrainingProgramm.section#sTrainingProgramm&attributes(attributes)
		+e.section-bg
			img.lazy(src='#' data-src='img/3in1-bg.svg' alt="")
		.container
			+b.section-title
				h2 Программа тренинга «Умные инвестиции три-в-одном»
			+e.blocks-box
				+block3in1('Блок 1. Подготовка к международным инвестициям')
				+block3in1('Блок 2. Стратегии последовательного создания капитала', '')
	// end sTrainingProgramm

mixin block3in1(headlineTxt, displayClass='active')
	+e.block
		+e.block-header(class=displayClass)
			+e.headline=headlineTxt
			+e.open-btn
		+e.block-content(class=displayClass)
			+e.step
				+e.step-container
					+e.step-header
						span
							| Шаг 1.
							|
						span Основы работы российского и американского фондового рынка
					+e.step-title Вводные материалы для начинающих инвесторов. Первое знакомство с фондовыми рынками.
					+e.step-format
						b
							| Формат:
							|
						span видеоуроки.
					+e.UL.step-list
						li
							b История фондового рынка США.
							span Когда появился фондовый рынок США, как он развивался и как стал крупнейшим в мире? Сколько бумаг торгуются на фондовом рынке США и на каких биржах они торгуются?
						li
							b История фондового рынка России.
							span Начало 2000-х – рассвет рынка в России после запуска Интернет-трейдинга. Российские биржи и отличия между ними.
						li
							b Санкт-Петербургская биржа.
							span Как на Санкт-Петербургской бирже торговать американскими бумагами с ликвидностью американских площадок?
						li
							b Текущее состояние рынков.
							span Статистика по объемам торгов на разных биржах мира – в США 55% мирового оборота, Россия – менее 2%.
						li
							b Особенности работы бирж в России и США.
							span Время торгов, особенности ликвидности.
			+e.step
				+e.step-container
					+e.step-header
						span
							| Шаг 2.
							|
						span Выбор брокера для работы
					+e.step-title На этом шаге Вы познакомитесь с брокерами для работы, сможете подобрать лучшего брокера под Ваши условия и откроете у него счет.
					+e.step-format
						b
							| Формат:
							|
						span видеоуроки + pdf-исследование + pdf-инструкция
					+e.UL.step-list.last-child-inline
						li
							b Российские брокеры.
							span Обзор российских брокеров с доступом к американским акциям напрямую или через Санкт-Петербургскую биржу.
						li
							b Ценный подарок.
							span Аналитическое исследование Романа Романовича в PDF по стоимости услуг российских брокеров для разных стилей торговли.
						li
							b Американские брокеры.
							span Кто из американских брокеров работает с русскими инвесторами? Как открыть счет у американского брокера? Чем отличаются российские брокеры от американских по комиссиям?
						li
							b
								|PDF-инструкция
								|
							span по открытию счета у одного из крупнейших мировых брокеров
			+e.step
				+e.step-container
					+e.step-header
						span
							| Шаг 3.
							|
						span Как оценить состояние экономики?
					+e.step-title На этом шаге Вы научитесь проводить оценку текущего состояния мировой экономики. Это поможет Вам впоследствии делать более точные прогнозы по Вашему инвестиционному портфелю и понимать, на какие активы делать упор при балансировке
					+e.step-format
						b
							| Формат:
							|
						span видеоуроки.
					+e.UL.step-list
						li
							b Аналитические исследования.
							span Что читать для мониторинга за экономикой? Обзор ресурсов Wall Street Journal, BARRON’S. Как читать бесплатно платные издания? Исследования аудиторских и консалтинговых фирм.
						li
							b Экономическая статистика.
							span Что из экономической статистики наиболее важно для рынка? Как интерпретировать данные? На что влияют индексы и индикаторы: PMI, безработица, продажи домов, потребительская активность и т.д.
						li
							b Статистический календарь.
							span На каких ресурсах следить за выходом экономической статистики? Как настроить уведомления в смартфон или почту?

