mixin sComfortStart()
	// start sComfortStart
	+b.SECTION.sComfortStart.section#sComfortStart&attributes(attributes)
		.container
			+b.section-title
				h2 У&nbsp;Вас будет комфортный старт в&nbsp;инвестициях
				+e.text Выбирайте, какой из&nbsp;вариантов Вам ближе:
			.row
				mixin item(t,a,h, ...items)
					+e.col.col-lg-6
						+e.item
							+e.title!= t
							ul
								each item in items
									li!= item
							+e.btn.scroll-link(href="#s-form")= a
				+item(`Старт с&nbsp;минимальным депозитом с&nbsp;регулярным пополнением.`,`Хочу стартовать с минимальным депозитом `,`#`,`Большинство брокеров сейчас отменяют минимальный порог входа, и&nbsp;Вы можете стартовать хоть с&nbsp;50$.`,`Идеальный вариант, если&nbsp;Вы планируете регулярно откладывать 10-20% от&nbsp;своего основного дохода и&nbsp;постепенно формировать свой инвестиционный капитал.`,`Для регулярного пополнения депозита в&nbsp;тренинге выделена отдельная тема, в&nbsp;которой мы&nbsp;подробно рассмотрим, как усреднять позиции по&nbsp;купленным акциям.`)
				+item(`Старт с&nbsp;имеющимися накоплениями. С&nbsp;регулярным пополнением или без него`,`Хочу стартовать с имеющимися накоплениями`,`#`,`Если у&nbsp;Вас уже есть определенная сумма накоплений, Вы&nbsp;узнаете, как на&nbsp;эту сумму собрать защищенный инвестиционный портфель. `,`В&nbsp;первую очередь по&nbsp;важности мы&nbsp;ставим сохранность денег, доходность&nbsp;&mdash; уже во&nbsp;вторую.`)
	// end sComfortStart