mixin sComfortStart()
	// start sComfortStart
	+b.SECTION.sComfortStart.section#sComfortStart&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sComfortStart
				
			.row
	// end sComfortStart