mixin sFAQ()
	// start sFAQ
	+b.SECTION.sFAQ#sFAQ&attributes(attributes)
		+e.section-bg
			img.lazy(src='#' data-src='img/3in1-bg.svg' alt="")
		.container
			+b.section-title
				h2 	Ответы на часто задаваемые вопросы
			+e.blocks-box
				+blockFAQ('Можно ли работать через российских брокеров?')
					p Да, можно работать через российских брокеров. Есть 2 варианта:
					ol
						li Работать через российских брокеров напрямую на американских биржах, для этого необходим статус квалифицированного инвестора.
						li Работать через российских брокеров с американскими акциями на Санкт-Петербургской бирже.
				+blockFAQ('Как платить налоги?', 'active')
					p В&nbsp;случае если юрисдикция брокера совпадает с&nbsp;Вашим гражданством, то, как правило, брокер отчитывается и&nbsp;платит все налоги в&nbsp;налоговую за&nbsp;Вас. Например, если&nbsp;Вы гражданин&nbsp;РФ и&nbsp;работаете через российского брокера, то&nbsp;Вам можно не&nbsp;беспокоиться о&nbsp;налоговой отчетности.
					p Если Вы&nbsp;работаете с&nbsp;иностранным брокером, то&nbsp;подавать налоговую декларацию и&nbsp;платить налоги с&nbsp;полученной (реализованной) прибыли Вам необходимо самостоятельно. Делается это один раз в&nbsp;год, независимо от&nbsp;того, выводили&nbsp;Вы прибыль с&nbsp;брокерского счета или нет.
				+blockFAQ('Почему работа идет именно с американскими активами?')
					p Все просто. Потому что в США торгуется более 6 500 различных акций, плюс тысячи других инвестиционных инструментов. Всегда есть из чего выбрать!
					p На фондовых биржах других государств выбор инвестиционных инструментов намного более ограничен.
				+blockFAQ('Работают ли стратегии из тренинга только во время кризиса?')
					p Нет, эти стратегии будут работать для Вас всегда. Даже если Вы обучите этим стратегиям своих детей, они тоже смогут ими воспользоваться в будущем.
					p Стратегии основаны на фундаментальном подходе к отбору акций. Практически в любой момент, при любой ситуации на рынке Вы сможете находить активы по изученным стратегиям, у которых есть потенциал к росту стоимости и/или дивидендов.
					p Именно на покупке недооцененных рынком акций сделал свое состояние Уоррен Баффет. Это классика, которая приносила деньги 50 лет назад, приносит деньги сейчас и будет приносить в будущем. Классика, дополненная многочисленными нюансами из практического опыта Романа Романовича.
				+blockFAQ('Нужно ли владеть английским языком для анализа американских акций?')
					p Нет, Вы можете совсем не знать английский язык и быть успешным инвестором, примеров среди учеников много. В наше время есть многочисленные программы-переводчики, которые переведут для Вас на русский язык совершенно любую информацию. С их помощью Вы сможете проводить анализ американских акций на своем родном языке.
				+blockFAQ('Нужна ли предварительная подготовка к тренингу? Какими знаниями/навыками необходимо обладать для обучения?')
					p Тренинг рассчитан на обучение с нуля. Все необходимые знания Вы получите в подготовительном и основном блоках тренинга и закрепите на занятиях мастер-группы.
					p Вам необходимо лишь владеть базовыми основами компьютерной грамотности. Вы должны уметь пользоваться браузером, Интернетом, устанавливать программы на компьютер, пользоваться онлайн-банком и т.п.
	// end sFAQ

mixin blockFAQ(headlineTxt, displayClass='')
	+e.block
		+e.block-header.block-header-js(class=displayClass)
			+e.headline=headlineTxt
			+e.open-btn
		+e.block-content.block-content-js(class=displayClass)
			block