mixin sRecommended()
	// start sRecommended
	+b.SECTION.sRecommended.section#sRecommended&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sRecommended
				
			.row
	// end sRecommended