mixin sPluses()
	// start sPluses
	+b.SECTION.sPluses.section#sPluses&attributes(attributes)
		.container
			+b.section-title
				h2 Какие плюсы это Вам даст в&nbsp;итоге:
				
			.row
				mixin item(i,t,p)
					+e.col.col-lg-3.col-sm-6
						+e.item
							+e.img-wrap
								img(src=`img/plus-${i}.svg`, alt="")
							+e.title!= t
							p!= p
				+item(`1`,`Рост Вашего капитала при низкой вовлеченности в&nbsp;процесс самой торговли.`,`Собрав инвестиционный портфель, Вы&nbsp;дальше занимаетесь своими обычными делами`)
				+item(`2`,`Более 6&nbsp;500 акций для анализа.`,`Практически всегда можно найти прибыльные инвестиционные идеи`)
				+item(`3`,`Полное отсутствие нерыночных рисков,`,`юридически прозрачная работа через лицензированных брокеров`)
				+item(`4`,`Глубокая проработка инвестиционных идей. `,`Вы&nbsp;будете точно знать, в&nbsp;какой бизнес&nbsp;Вы вкладываете деньги, как у&nbsp;него обстоят дела с&nbsp;финансами и&nbsp;какие у&nbsp;него есть перспективы для роста.`)
			+e.btn.scroll-link(href="#s-form") Начать инвестировать в&nbsp;американские акции
	// end sPluses