mixin sHave()
	// start sHave
	+b.SECTION.sHave.section#sHave&attributes(attributes)
		.container
			+b.section-title
				+e.text И, наконец, о&nbsp;главном.
				h2 Что у&nbsp;Вас будет для выполнения формулы успеха три-в-одном?
			mixin item(t,...items)
				+e.group
					+e.title
						span Стратегия
						!= t
					each item in items
						p!= item
			div
				+item(` поиска недооцененных акций.`,`Та&nbsp;самая стратегия, на&nbsp;которой сколотил свое состояние Уоррен Баффет. После и&nbsp;во&nbsp;время падения рынков таких акций будет много. Вы&nbsp;научитесь находить акции, рыночная стоимость которых ниже их&nbsp;&laquo;справедливой&raquo; стоимости. `,`Эта стратегия лучше всего подходит для длительного постоянного роста Ваших накоплений.`)
				+item(`  отбора перспективных акций Penny Stock`,`Penny Stock&nbsp;&mdash; акции, стоимость которых дешевле 10$. Такие акции могут совершать рост свыше +100% за&nbsp;несколько дней. Довольно часто такие акции могут умножать вложенные деньги в&nbsp;несколько раз.`,`Вы&nbsp;научитесь быстро находить нужные акции через скринер, а&nbsp;также получите алгоритм быстрого анализа этих акций на&nbsp;предмет потенциальной прибыли.`,`Стратегия дает возможность получать прибыль в&nbsp;краткосрочной и&nbsp;среднесрочной перспективе.`)
				+item(`  Дивиденды + Рост.`,`Конечная цель Ваших инвестиций&nbsp;&mdash; регулярный пассивный доход. Эту цель можно обеспечить дивидендными акциями. Вы&nbsp;научитесь отбирать акции, у&nbsp;которых вероятность выплаты дивидендов в&nbsp;будущем максимальна.`,`Но&nbsp;самое главное, в&nbsp;стратегию заложен также анализ дивидендных акций на&nbsp;будущий рост стоимости. Кризис&nbsp;&mdash; время, когда будут появляться акции по&nbsp;очень дешевым ценам. В&nbsp;будущем, в&nbsp;горизонте 5-10&nbsp;лет, эти компании могут начать приносить Вам дивиденды, равные стоимости акций при покупке. Есть масса примеров, когда инвестор получает ежегодные дивиденды в&nbsp;размере большем, чем было затрачено на&nbsp;приобретение акций.`,`Предназначение стратегии видно из&nbsp;ее&nbsp;названия&nbsp;&mdash; получение дивидендов с&nbsp;одновременным ростом стоимости акций в&nbsp;портфеле. Соответственно, рост дивидендов в&nbsp;долларах от&nbsp;таких акций будет происходить одновременно с&nbsp;ростом их&nbsp;стоимости`)
			+e.footer
				.row
					.col-lg-6
						+e.left-block
							img(src="img/sHave-img.svg", alt="")
							.h5.strong Балансировка портфеля&nbsp;&mdash; защита Ваших денег
							p Вы&nbsp;можете использовать для роста Вашего капитала все три вышеперечисленные стратегии. Но&nbsp;купленные Вами акции необходимо сбалансировать защитными инструментами. Делается это для того, чтобы в&nbsp;случаях глобального падения всех рынков, Ваш портфель показал минимальную просадку.
							p Да, в&nbsp;моменты роста рынков балансировка портфеля может съедать часть получаемой Вами прибыли. Но&nbsp;согласитесь, лучше потерять небольшую часть от&nbsp;прибыли, чем потерять свои накопления в&nbsp;очередном кризисном падении.
					.col-lg-6
						+e.right-block
							.h6.strong Все это в&nbsp;сумме обеспечит Вашему капиталу процветание по&nbsp;формуле три-в-одном:
							.h3.strong Защита накоплений 
								br
								| + рост капитала 
								br
								| + пассивный доход
							p И&nbsp;совершенно неважно, с&nbsp;какой начальной точки&nbsp;Вы сейчас стартуете. Если Вы&nbsp;будете использовать эту формулу постоянно, то&nbsp;Ваш финансовый успех будет всего лишь вопросом времени.
			+e.btn(href="#") Кликните, чтобы получить доступ в «Умные инвестиции три-в-одном»
	// end sHave