// start .sNuance
.sNuance {

	padding: rem(30) 0;
	@include media-breakpoint-up(lg){
		padding: rem(75) 0 rem(108) 0;
	}

	.section-title{
		padding-bottom: rem(30px);
		@include media-breakpoint-up(sm){
			padding-bottom: rem(44px);
		}
	}
	&__row{
		@include roww(23px);
		padding-bottom: rem(60);
	}
	&__list{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			line-height: (25/20);
			position: relative;


			font-size: rem(16px);
			margin-bottom: rem(20px);
			padding-left: rem(30px);
			@include media-breakpoint-up(sm){
				font-size: rem(20px);
				margin-bottom: rem(27px);
				padding-left: rem(34px);
			}
			&:last-child{
				margin-bottom: 0;
			}

			&:before{
				content: '';
				position: absolute;
				left: -1px;
				top: rem(5px);

				width: rem(12.5px);
				height: rem(15px);

				background-image: url(../img/@2x/small-arrow-left.png);
				background-size: cover;//??
			}
		}

	}
	&__img-bg{
		position: relative;
		width: 100%;
		@include media-breakpoint-up(xxl){
			max-width: 560px;
			top: 4px;
			left: 8px;
		}
		padding-top: 77.6%;

		background: linear-gradient(230.59deg, #2737CE 2.66%, #3AA3C1 100%);
		border-radius: rem(4px);
		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: rem(4px);

			box-shadow: 0px 4px 150px #BBC1EC;
			opacity: 1;
		}
	}

	//result
	&__result-headline{
		font-weight: bold;
		line-height: (38/30);
		color: $primary;

		font-size: rem(19px);
		margin-bottom: rem(30px);
		@include media-breakpoint-up(sm){
			font-size: rem(30px);
			margin-bottom: rem(66px);
		}
	}

	&__result-row{

		@include media-breakpoint-up(xl){
			@include roww(39px);
		}
	}
	&__result-col-cont{
		@include media-breakpoint-between(xs,lg){
			display: flex;
			padding-bottom: rem(30);
		}
	}
	&__result-img-box{
		height: rem(110);
		padding-bottom: rem(30);

		flex-shrink: 0;
		width: rem(110);

		padding-right: rem(30px);
		@include media-breakpoint-up(sm){
			padding-right: rem(50px);
		}
		@include media-breakpoint-up(lg){
			padding-right: 0;
			width: 100%;
		}


		img{
			@include media-breakpoint-up(xxl){
				margin-left: 5px;
			}
			max-height: 100%;
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
	&__result-txt{
		font-size: rem(15px);
		@include media-breakpoint-up(sm){
			font-size: rem(18px);
		}
		line-height: (28/18);
	}
	&__blue-txt{
		display: block;
		@include media-breakpoint-up(lg){
			display: inline;
		}

		color: $primary;
		font-weight: bold;
	}
	//
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}
} // end.sNuance