mixin sNuance()
	// start sNuance
	+b.SECTION.sNuance#sNuance&attributes(attributes)
		.container
			+b.section-title
				h2 Важные нюансы обучения
			+e.row.row
				.col-12.col-lg-6
					+e.UL.list
						li Глубокая проработка инвестиционных идей. Мы&nbsp;будем глубоко копать и&nbsp;отбирать для портфеля только акции с&nbsp;максимальным потенциалом к&nbsp;прибыли.
						li Практичность. Минимум теории, все будем отрабатывать сразу на&nbsp;практике, прямо на&nbsp;занятиях.
						li Сбор портфеля в&nbsp;прямом эфире. По&nbsp;каждой стратегии мы&nbsp;рассмотрим примеры на&nbsp;текущем рынке, а&nbsp;в&nbsp;финале соберем инвестиционный портфель и&nbsp;протестируем его на&nbsp;занятии.
						li Родной язык. Нет никакой необходимости изучать английский язык, весь анализ мы&nbsp;будем делать на&nbsp;русском языке с&nbsp;помощью переводчиков.
						li Разбор компаний по&nbsp;запросам учеников. В&nbsp;прямом эфире, на&nbsp;занятиях мы&nbsp;рассмотрим предложенные Вами компании и&nbsp;сделаем вывод об&nbsp;их&nbsp;инвестиционной привлекательности.
				.col-lg-6.d-none.d-lg-block
					+e.img-bg
						img.lazy(src='#' data-src="img/@2x/nuance-img.jpg" alt="")
			+e.H4.result-headline Что Вам это даст в итоге?
			+e.result-row.row
				.col-lg-4
					+resultItem(1, 'Уже во время обучения ', 'Вы сможете составить инвестиционный портфель, отвечающий всем трем параметрам формулы успеха: защита накоплений, рост капитала и пассивный доход')
				.col-lg-4
					+resultItem(2, 'В среднесрочной перспективе ', 'Вы сможете подобрать и добавить в портфель акции по лучшим ценам. Также Вы отладите процесс самостоятельного роста Ваших накоплений с эффектом снежного кома')
				.col-lg-4
					//-.offset-sm-3.offset-lg-0
					+resultItem(3, 'В долгосрочной перспективе ', 'формула три-в-одном обеспечит Вам выполнение любых реальных финансовых целей, которые Вы ставите перед собой. Это может быть накопление определенной суммы, либо достижение необходимого уровня пассивного дохода')
	// end sNuance

mixin resultItem(svgNum='1', BlueTxt='BlueTxt', DefaultTxt='DefaultTxt')
	+e.result-col-cont
		+e.result-img-box
			img.lazy(src="#" data-src=`img/sNuance${svgNum}.svg` alt="")
		+e.result-txt
			+e.SPAN.blue-txt=BlueTxt
			span=DefaultTxt
